<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.zhaowu.sourcetree</string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37ED4ABC-535E-4C2B-B6CA-5A95FC152A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51C047C3-8B43-4B04-8ABE-851AE0D12CAD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
			</dict>
		</array>
		<key>6D8D55CB-5416-4EE8-90D5-3E92CA4C24A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2B480F5-BA0C-4695-8D5E-9992839F65CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>76ED402A-138E-4714-8B00-C470579950FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB55BBC7-595C-4E83-ABBE-60355155A4B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DECD3304-0F18-49C6-908A-82898FAAB56E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zhao Cai</string>
	<key>description</key>
	<string>Get SourceTree Repository</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Source Tree</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./main.rb  --workflow-mode=action "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37ED4ABC-535E-4C2B-B6CA-5A95FC152A6E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st</string>
				<key>runningsubtext</key>
				<string>search for SourceTree Repositories ...</string>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./main.rb {query}
</string>
				<key>subtext</key>
				<string>Open Repository in SourceTree</string>
				<key>title</key>
				<string>Search SourceTree for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DECD3304-0F18-49C6-908A-82898FAAB56E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./main.rb  --workflow-mode=action --modifier=command "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51C047C3-8B43-4B04-8ABE-851AE0D12CAD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Open With Source Tree</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6D8D55CB-5416-4EE8-90D5-3E92CA4C24A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/SourceTree.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C2B480F5-BA0C-4695-8D5E-9992839F65CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>stbookmark</string>
				<key>subtext</key>
				<string>in Source Tree Bookmark Window</string>
				<key>text</key>
				<string>Search Source Tree for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76ED402A-138E-4714-8B00-C470579950FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	activate application "SourceTree"	tell application "System Events"		tell process "SourceTree"			keystroke "b" using command down				set value of text field 1 of group 1 of tool bar 1 of window "Bookmarks" to q as text			click button 1 of text field 1 of group 1 of tool bar 1 of window "Bookmarks"			set frontmost to true		end tell	end tellend alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DB55BBC7-595C-4E83-ABBE-60355155A4B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>37ED4ABC-535E-4C2B-B6CA-5A95FC152A6E</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>51C047C3-8B43-4B04-8ABE-851AE0D12CAD</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6D8D55CB-5416-4EE8-90D5-3E92CA4C24A2</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>76ED402A-138E-4714-8B00-C470579950FE</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>C2B480F5-BA0C-4695-8D5E-9992839F65CE</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>DB55BBC7-595C-4E83-ABBE-60355155A4B3</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>DECD3304-0F18-49C6-908A-82898FAAB56E</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/zhaocai/alfred2-sourcetree-workflow</string>
</dict>
</plist>
